newsletter.json
{
  "name": "Content_Curator_Workflow_Redacted",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://morss.it/:items=%7C%7C*[class=brand-item]/https://www.generic-source.com/news/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        272
      ],
      "id": "3a0b8885-8d52-4924-b56a-7414c52d8fe9",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        480
      ],
      "id": "ae7c37bb-128d-4352-b08c-51c6d01ca1cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID_1",
          "name": "REDACTED_OPENAI_ACC_1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent JSON response\nconst items = $input.all();\nconst parsedItems = [];\n\nfor (const item of items) {\n  const rawResponse = item.json.output;\n  \n  try {\n    // Clean up escaped characters and parse the JSON response from AI\n    const cleanedResponse = rawResponse.replace(/\\\\n/g, '').replace(/\\\\/g, '');\n    const aiAnalysis = JSON.parse(cleanedResponse);\n    \n    // Handle key_topics - it might be a string or array\n    let topicsString = \"\";\n    if (Array.isArray(aiAnalysis.key_topics)) {\n      topicsString = aiAnalysis.key_topics.join(\", \");\n    } else if (typeof aiAnalysis.key_topics === 'string') {\n      topicsString = aiAnalysis.key_topics;\n    }\n    \n    // Combine original article data with parsed AI analysis\n    parsedItems.push({\n      json: {\n        // Original article data\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        \n        // Parsed AI analysis\n        quality_score: aiAnalysis.quality_score || 5,\n        relevance_score: aiAnalysis.relevance_score || 5,\n        key_topics: topicsString,\n        summary: aiAnalysis.summary || \"No summary provided\",\n        content_angle: aiAnalysis.content_angle || \"No angle provided\",\n        action: aiAnalysis.action || \"REVIEW\"\n      }\n    });\n    \n  } catch (error) {\n    // Handle parsing errors gracefully\n    console.log(\"Parsing error:\", error.message);\n    console.log(\"Raw response:\", rawResponse);\n    \n    parsedItems.push({\n      json: {\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        quality_score: 5,\n        relevance_score: 5,\n        key_topics: \"Parse Error\",\n        summary: \"AI response could not be parsed: \" + error.message,\n        content_angle: \"Manual review needed\",\n        action: \"REVIEW\"\n      }\n    });\n  }\n}\n\nreturn parsedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        272
      ],
      "id": "635cdd74-cad6-46d1-849f-6d25629c9705",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -928,
        480
      ],
      "id": "acca3a48-d091-4d1d-bb84-885bf55db720",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        192
      ],
      "id": "9044ea97-58aa-4df2-b8d4-c9b6d9411685",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID_2",
          "name": "REDACTED_OPENAI_ACC_2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse content creation AI response\nconst items = $input.all();\nconst contentItems = [];\n\nfor (const item of items) {\n  try {\n    const rawResponse = item.json.output;\n    const cleanedResponse = rawResponse.replace(/\\\\\\\\n/g, '').replace(/\\\\\\\\/g, '');\n    const contentData = JSON.parse(cleanedResponse);\n\n    // Get the original article data\n    const originalData = $node[\"Code\"].json; // Reference our enhanced parsing node\n\n    contentItems.push({\n      json: {\n        // Original article info\n        title: originalData.title,\n        link: originalData.link,\n        quality_score: originalData.quality_score,\n        relevance_score: originalData.relevance_score,\n        summary: originalData.summary,\n\n        // Generated content\n        twitter_thread: contentData.twitter_thread || [],\n        //linkedin_post: contentData.linkedin_post || \"Content generation failed\",\n        content_ready: contentData.content_ready || false,\n\n        // Metadata\n        created_at: new Date().toISOString(),\n        platform_ready: true\n      }\n    });\n    // After you've parsed twitter_thread\nconst joiner = '\\n\\n';\nitem.twitter_text = Array.isArray(item.twitter_thread)\n  ? item.twitter_thread.join(joiner)\n  : (item.twitter_thread || '');\n\nconst MAX = 280; // keep it safe for standard accounts\nif (item.twitter_text.length > MAX) {\n  item.twitter_text = item.twitter_text.slice(0, MAX - 1) + '…';\n}\n\n  } catch (error) {\n    // Handle parsing errors\n    contentItems.push({\n      json: {\n        title: $node[\"Code\"].json.title,\n        link: $node[\"Code\"].json.link,\n        twitter_thread: [\"Content generation failed\"],\n        //linkedin_post: \"Content generation failed: \" + error.message,\n        content_ready: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn contentItems;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        16
      ],
      "id": "ab9727d4-8e9f-48d1-b4bb-68a70b9c9d5d",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOC_ID_1",
          "mode": "list",
          "cachedResultName": "Generic_Content_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_1/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Generated Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_1/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Created": "={{ $now }}",
            "Article Title": "={{ $json.title }}",
            "Article Link": "={{ $json.link }}",
            "Quality Score": "={{ $json.quality_score }}",
            "Twitter Content": "={{ $json.twitter_thread[0] }}{{ $json.twitter_thread[1] }}{{ $json.twitter_thread[2] }}{{ $json.twitter_thread[3] }}",
            "LinkedIn Content": "={{ $json.linkedin_post }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Link",
              "displayName": "Article Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "displayName": "Quality Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Content",
              "displayName": "Twitter Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Content",
              "displayName": "LinkedIn Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published (Yes/No)",
              "displayName": "Published (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Performance Notes",
              "displayName": "Performance Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -160
      ],
      "id": "7e130c47-7057-4136-acc4-9c833c9c23d9",
      "name": "Store Content",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLE_SHEETS_ID_1",
          "name": "REDACTED_GOOGLE_ACC_1"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOC_ID_2",
          "mode": "list",
          "cachedResultName": "Generic_Review_Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1806686957,
          "mode": "list",
          "cachedResultName": "For Review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_2/edit#gid=1806686957"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Link": "={{ $json.link }}",
            "Pub Date": "={{ $json.pubDate }}",
            "Quality Score": "={{ $json.quality_score }}",
            "Relevance Score": "={{ $json.relevance_score }}",
            "Summary": "={{ $json.summary }}",
            "Content Angle": "={{ $json.content_angle }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pub Date",
              "displayName": "Pub Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "displayName": "Quality Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance Score",
              "displayName": "Relevance Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Angle",
              "displayName": "Content Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        352
      ],
      "id": "30c4e869-05ae-47c3-9606-12bb26a63565",
      "name": "New for Review",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLE_SHEETS_ID_2",
          "name": "REDACTED_GOOGLE_ACC_2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOC_ID_3",
          "mode": "list",
          "cachedResultName": "Generic_Archive_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_3/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619109963,
          "mode": "list",
          "cachedResultName": "Archive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED_DOC_ID_3/edit#gid=1619109963"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Link": "={{ $json.link }}",
            "Pub Date": "={{ $json.pubDate }}",
            "Quality Score": "={{ $json.quality_score }}",
            "Reason": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pub Date",
              "displayName": "Pub Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "displayName": "Quality Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        512
      ],
      "id": "237dc10a-0c2b-4e6e-81d9-5697d8d986fe",
      "name": "Archive",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLE_SHEETS_ID_3",
          "name": "REDACTED_GOOGLE_ACC_3"
        }
      }
    },
    {
      "parameters": {
        "postAs": "organization",
        "text": "={{ $json.linkedin_post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        528,
        288
      ],
      "id": "d444a22e-fce2-4ffb-a7e1-be35171fc698",
      "name": "LinkedIn Post"
    },
    {
      "parameters": {
        "text": "={{ $json.tweet_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "id": "2fc5f88f-fa89-41fa-ae21-c41d970a06be",
      "name": "X Post",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "REDACTED_TWITTER_ID",
          "name": "REDACTED_X_ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create social media content for this article:\n\nTitle: {{ $json.title }}\nSummary: {{ $json.summary }}\nSuggested Angle: {{ $json.content_angle }}\nLink: {{ $json.link }}\n\nArticle scored {{ $json.quality_score }}/10 for quality and {{ $json.relevance_score }}/10 for relevance.\n",
        "options": {
          "systemMessage": "You are an expert social media content creator specializing in business and technology topics.\n\nYour job is to take high-quality articles and create engaging, platform-specific content that drives audience engagement and positions the author as a thought leader.\n\nFor each article, create content for these platforms:\n\nTWITTER THREAD (3-4 tweets):\n- Tweet 1: Hook that grabs attention and introduces the main insight\n- Tweet 2-3: Key takeaways with specific examples or data\n- Tweet 4: Call-to-action with link to original article\n- Use emojis strategically\n- Keep each tweet under 280 characters\n\nLINKEDIN POST:\n- Professional tone suitable for business audience\n- 150-200 word summary highlighting business value\n- Include 2-3 key insights from the article\n- End with an engaging question to drive comments\n- Use professional hashtags (#artificialintelligence #businessautomation #productivity)\n\nReturn your response as valid JSON in this exact format:\n{\n  \"twitter_thread\": [\"tweet 1 text\", \"tweet 2 text\", \"tweet 3 text\", \"tweet 4 text\"],\n  \"linkedin_post\": \"full linkedin post text here\",\n  \"content_ready\": true\n}\n\nFocus on value, insights, and engagement. Avoid being overly promotional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -256,
        32
      ],
      "id": "e8717414-9316-43c7-96a2-98bec5903113",
      "name": "Content AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this article: {{ $json.title }} - {{ $json['content:encoded'] }}",
        "options": {
          "systemMessage": "You are a content research assistant specializing in generic business topics.\n\nYour job is to analyze articles and determine their value for a content creator who focuses on:\n- Business tools and techniques\n- Automation workflows\n- Industry news and developments\n\nIMPORTANT: You must respond with valid JSON in exactly this format:\n\n{\n  \"quality_score\": 8,\n  \"relevance_score\": 9,\n  \"key_topics\": \"business tools\", \"automation\", \"business efficiency\",\n  \"summary\": \"Brief 2-3 sentence summary of the key points and main value.\",\n  \"content_angle\": \"Suggested angle for social media content creation\",\n  \"action\": \"PUBLISH\"\n}\n\nCRITICAL: Ensure all strings are properly quoted with double quotes. Arrays should contain quoted strings like [\"item1\", \"item2\", \"item3\"].\n\nScoring guidelines:\n- Quality Score (1-10): Based on source credibility, content depth, and usefulness\n- Relevance Score (1-10): How well it matches our business/tech focus\n- Action: PUBLISH (scores 8+), REVIEW (scores 5-7), or ARCHIVE (scores <5)\n\nOnly return the JSON object, nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1024,
        272
      ],
      "id": "2f70c9f7-8e8e-4a67-a301-07e1f2de8048",
      "name": "Scoring AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2588090c-6a4a-4609-a8f8-1c7e3cbdda12",
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        272
      ],
      "id": "4f96be84-c175-4da2-8d8b-4484cf7f5d9c",
      "name": "Quality Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c488b7fd-18a5-432d-af06-7a9748db4778",
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        416
      ],
      "id": "f6dcc33c-360e-4ea9-81f6-921c9987d6c6",
      "name": "Quality Filter 2"
    },
    {
      "parameters": {
        "jsCode": "// Split the twitter_thread array into separate items (one per tweet)\n// Preserves other fields for context/logging if needed\nconst inputItem = $input.first().json;\nconst thread = inputItem.twitter_thread || [];\n\nconst splitItems = thread.map((tweetText, index) => ({\n  json: {\n    tweet_text: tweetText,  // The string for this tweet\n    thread_index: index,    // 0 for first, 1 for second, etc. (for optional threading)\n    // Copy shared fields (e.g., for logging or future use)\n    title: inputItem.title,\n    link: inputItem.link,\n    quality_score: inputItem.quality_score,\n    relevance_score: inputItem.relevance_score,\n    summary: inputItem.summary,\n    created_at: inputItem.created_at,\n    content_ready: inputItem.content_ready,\n    platform_ready: inputItem.platform_ready\n  }\n}));\n\nreturn splitItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        16
      ],
      "id": "749c0e5c-9ceb-47a1-b5de-51693a0cd638",
      "name": "Split Threads"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Scoring AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scoring AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Scoring AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Store Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content AI": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter": {
      "main": [
        [
          {
            "node": "Content AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quality Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter 2": {
      "main": [
        [
          {
            "node": "New for Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Threads": {
      "main": [
        [
          {
            "node": "X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "732117d1-310e-463e-b662-dbeec0b54d4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ddd08adbe38d771d781da47be73c8c29a3f596ae4fc82e83bdb36462b0d1f7f"
  },
  "id": "mHd0uAQNpRNmm4Vr",
  "tags": []
}
